<div class='temp'>
  <p class="title">
    Bathroom
  </p>

  <div class='inner'>
    <div class='icon'></div>
    <div class="cell">
      <div class='title'>
        <div class='text'>Current</div>
      </div>
      <div class="number">
        {{ temp }}
      </div>
    </div>

    <div class="cell">
      <div class='title'>
        <div class='text'>Target</div>
      </div>
      <div class="number">
        <input type="number" [(ngModel)]="temp"/>
      </div>
    </div>




  </div>
</div>
